.App {
  display: grid;
  grid-template: auto 1fr / 1fr 2fr;
  position: fixed; top: 0; left: 0; right: 0; bottom: 0;
}

/* .Header {
  border-bottom: 5px solid black;
} */

.PostList {
  border-right: 5px solid black;
  overflow-y: scroll;
}

.PostItem {
  border-bottom: 1px solid black;
  padding: 10px 10px;
  cursor: pointer;
}

.PostItem:hover {
  background-color: #eee;
}

.PostItem.selected {
  background-color: #ccc;
}

.PostItem h4 {
  margin: 4px 0;
}

.PostDetail {
  padding: 0px 20px;
  overflow-y: scroll;
}

.Star {
  display: inline-block;
  padding: 4px 6px;
}

.Likes {
  display: inline-block;
  padding: 4px 6px;
}

.LikeUser {
  display: inline-block;
  padding: 4px 6px;
  border: 1px solid #eee;
}

.Star:hover {
  background-color: rgb(250, 229, 3);
  color: white;
  cursor: pointer;
}