.App {
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  position: fixed; top: 0; left: 0; right: 0; bottom: 0;
}

.PostList {
  border-right: 5px solid black;
  overflow-y: scroll;
}

.PostItem {
  border-bottom: 1px solid black;
  padding: 1px 10px;
  cursor: pointer;
}

.PostItem:hover {
  background-color: #eee;
}

.PostDetail {
  padding: 0px 20px;
}